
body{
    overflow: hidden;
}
#snow {
    position: relative;
    background: url(background-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#cards{
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    
}
.card{
    background-color: #ffffff23 !important;
    filter: none;
    position: absolute;
    width: 20rem;
    top: 0 !important;
    box-shadow: 0 1px 1rem #ffffff67;
    
}
.card * {
    color: #ffff;
}

.cards-img{
    max-height: 300px;
    overflow: hidden;
}
.btn{
    border-width: 2px !important;
}
.btn-outline-success{
    font-weight: 900;
    width: 100%;
}
.text-lg{
    font-size: 30px !important;
}
